.all-products{
    display: flex;
    margin-top: 20px;
}

.product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;   
}

.myImg{
    height: 400px;
    width: 400px;
}

.product-card-link{
    text-decoration: none;
    color: rgb(20, 20, 20)
}

