#notreg {
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginForm{
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px;
    border-color: black;
}

.login-and-register-input{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#login{
    border: none;
    border-bottom: 2px solid red;
    width: 300px;
}

#password{
    border: none;
    border-bottom: 2px solid red;
    width: 300px;
}

#button-login{
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#reg{
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.login-and-register-button{
    width: 300px;
    display: flex;
    justify-content: space-around;
}

#regForm{
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reg-form{
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px;
    border-color: black;
}

.reg-input{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.reg-button{
    width: 350px;
    display: flex;
    justify-content: space-around;
}

#button-reg{
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#galyotmena{
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#loginReg{
    border: none;
    border-bottom: 2px solid red;
    width: 300px;
}

#passwordReg{
    border: none;
    border-bottom: 2px solid red;
    width: 300px;
}

#Regname{
    border: none;
    border-bottom: 2px solid red;
    width: 300px;
}


.state{
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px;
    border-color: black;
}

#log-out{
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#name{
    font-size: x-large;
    font-family: "Montserrat", sans-serif;
}