
body {
    background-color: rgb(241, 233, 220);
}
header {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: rgb(183, 83, 5);
    height: 200px;
    color: rgb(20, 20, 20);
    display: flex;
    width: 100%;
    left: 0px;
    bottom: 0px;
    align-items: flex-end;
    justify-content: center;
}

.text {
    display: flex;
    text-align: center;
}

#overlay {
    opacity: 0.5;
    position: fixed;
    pointer-events: none;
}

.login-page{
    display: block;
    position: fixed;
    display: block;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    height: auto;
    width: auto;
    transition: all 0.7s ease-out;
    border: 1px solid #333;
    background-color: whitesmoke;
    padding: 20px;
}

.search{
    display: block;
}