
.navbar-background {
    background-color: rgb(183, 83, 5);
    height: 100px;
    display: block;
    flex-direction: column;
}

.logo-size{
    height: 76px;
    width: auto;
   padding-top: 0px;
   margin-top: 0px;
}

.text-color{
    color: rgb(20, 20, 20);
    font-size: 50px;
}

a:hover{
    color:rgb(70, 70, 70)
}

.search-size{
    width: 50%;
    
}

.log-in{
    width: 76px;
    height: 76px;
    color:rgb(20, 20, 20);
    border: 2px solid rgb(20, 20, 20);
}

.log-in:hover{
    background-color: rgb(70, 70, 70);
    color: rgb(241, 233, 220);
    border-color: rgb(20, 20, 20);
}

.login{
    width: 150px;
    height: 38px;
    position: flex;
    margin-top: 19px;
}
 .login:active{
    border-color: black;
 }

